:root {
  --InPurple: #9400D3;
  --LightPurple: #8B53FF;
  --InGreen: #00FF00;
  --Green: #04D004;
  --LightGreen: #99FFAB;
  --black: #211B15;
  --white: #ffff;
}
body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0px 310px;
    padding: 0;
    justify-content: center;
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  button {
    padding: 10px;
    margin-top: 10px;
    background-color:var(--Green) ;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 400px;
    font-size: 16px;
    margin: 10px;
  }
  
  button:hover {
    background-color: green;
  }
  img {
    padding: 10px 0;
    margin-left: 30%;
  }

  label {
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
    color: white;
    text-align: left;
    text-decoration: var(--InPurple);
  }
  