:root {
   --InPurple: #9400D3;
   --LightPurple: #8B53FF;
   --InGreen: #00FF00;
   --Green: #04D004;
   --LightGreen: #99FFAB;
   --black: #211B15;
   --white: #ffff;
}
body {
   background-color: #211B15;
}
@font-face {
   font-family: "Bauhaus";
   src: url(/Bauhaus\ Font\ Family/);
}

h1 {
   font-size: 48px;
   padding: 10px 0;
   font-family: oswald;
   font-weight: 600;
   text-align: center;
}

img {
   padding: 10px 0;
   margin: 0 40% 0 40%;
}

p {
   margin-left: 40%;
   color: white;

}

form {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 50px;
}

input [type="text"],
input[type="password"] {
   padding: 10px;
   margin: 10px;
   border-radius: 10px;
   width: 300px;
   font-size: 15px;
   font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

input#senha_login {
   margin: 10px;
}

input#nome_login {
   margin: 10px;
   padding: 10px;
   width: 300px;
   border-radius: 10px;
   height: 20px;
   font-size: 15px;
   font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}
input#senha_login:focus{
   border: 4px solid var(--InPurple);
}
input#nome_login:focus {
   border: 4px solid var(--InPurple);
}

button {
   background-color: var(--Green);
   color: white;
   padding: 10px;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   width: 200px;
   font-size: 16px;
   margin: 10px;
}

button:hover {
   background-color: green;
}

a {
   margin: 10px;
   padding: 10px;
}

label{
   font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
   color: #ccc;
   text-align: left;
   text-decoration:underline #9400D3;
}

.login {
   display: grid;
   align-items: center;
   justify-items: center; /* Novo */
   text-align: left;
}

.login > div {
   text-align: left; /* Alinhamento horizontal */
   margin: 0 10% 0 10%;
}

#linhas {
   display: flex;
   align-items: center;
}
.line {
   width: 300px;
   height: 2px;
   background: var(--InPurple);
   margin: 15px;
}
.cadastro{
   text-decoration: none;
   color: #ccc;
   font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}
.cadastro:hover{
   text-decoration: underline var(--InPurple);
}

@media screen and (min-width: 370px) and (max-width:900px) {
   
}