:root {
    --InPurple: #9400D3;
    --LightPurple: #8B53FF;
    --InGreen: #00FF00;
    --Green: #04D004;
    --LightGreen: #99FFAB;
    --black: #000000;
    --white: #ffff;
}
@font-face {
    font-family: "Gotham";
    src: url(../Gotham-Font/GothamBook.ttf);
}
* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
}
.content{
    display:flex;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0 20px 0;
    background-color: var(--black) !important;
}

.navbar-menu {
    display: flex;
}

.navbar-logo {
    align-items: center;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.navbar-items-menu {
    padding: 0;
    border-bottom: 5px solid transparent;
}

.nav-link {
    font-family: 'Gotham', 'Helvetica Neue', Arial, Helvetica;
    font-size: 20px;
    color: var(--white);
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
#departamentos{
    border: none;
    background-color: #000000;
    font-size: 20px;
    color: var(--white);
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial;
}
.lupa{
    width: 30px;
}
.logo1{
    width: 100px;
}
.carrinho{
    width: 40px;
    padding-left: 10px;
}
.ask{
    width:500px;
    height: 20px;
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial;
    font-size: 15px;
}