:root {
    --InPurple: #9400D3;
    --LightPurple: #8B53FF;
    --InGreen: #00FF00;
    --Green: #04D004;
    --LightGreen: #99FFAB;
    --black: #000000;
    --white: #ffff;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container {
    max-width: 1140px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0 20px 0;
    background-color: var(--black) !important;
}

.navbar-menu {
    display: flex;
}

.navbar-logo {
    align-items: center;
}

.content{
    display: flex;
}

#logo1{
    width: 70px;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.navbar-items-menu {
    padding: 0;
    border-bottom: 5px solid transparent;
    align-items: center;
    justify-content: center;
}

.nav-link {
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
#departamentos{
    border: none;
    background-color: #000000;
    font-size: 20px;
    color: var(--white);
}

#lupa{
    width: 30px;
}

#carrinho{
    width: 40px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.ask{
    width: 500px;
    height: 20px;
    font-size: 15px;
}